<div class="viewport">
    <div class="main-container">
        <div class="head-container">
            <h1 class="MajorMonoDisplay">SPACE TRADER</h1>
            <div class="header-line"></div>
            <button (click)="restartGame()" class="menu-button">Restart</button>
            <button (click)="quitGame()" class="menu-button">Quit</button>
        </div>
        <div class="game-container">
            <div class="left-container">
                <div class="location-container">
                    <h2 class="MajorMonoDisplay">STATS</h2>
                    <hr>
                    <div class="stats stats-top">
                        <div>Location: </div>
                        <div>{{ gameState.currentLocation().name }}</div>
                    </div>
                    <div class="stats">
                        <div>Balance: </div>
                        <div>${{ gameState.balance() }}</div>
                    </div>
                    <div class="stats">
                        <div>Fuel: </div>
                        <div>{{ gameState.fuel() }}/10</div>
                    </div>
                    <div class="stats">
                        <div>Days passed: </div>
                        <div>{{ gameState.daysPassed() }}/{{ gameLength }}</div>
                    </div>
                </div>
                <div class="travel-container">
                    <h2 class="MajorMonoDisplay">LOCATIONS</h2>
                    <hr>
                    <button class="location-button" *ngFor="let location of gameState.locations()"
                        (click)="travel(location)" [class.selected]="location === gameState.currentLocation()"
                        [disabled]="location === gameState.currentLocation()">
                        {{ location.name }}
                    </button>
                </div>
            </div>
            <div class="right-container">
                <div class="top-right-container">
                    <div class="action-container">
                        <h2 class="MajorMonoDisplay">NAVIGATE</h2>
                        <hr>
                        <button (click)="restartGame()" class="action-button">MARKET</button>
                        <button (click)="restartGame()" class="action-button">LOAN SHARK</button>
                        <button (click)="restartGame()" class="action-button">CASINO</button>
                        <button (click)="restartGame()" class="action-button">WAIT A DAY</button>
                    </div>
                    <div class="status-container" #statusContainer>
                        <p [innerHtml]="tempText"></p>
                    </div>
                </div>
                <div class="market-container">
                    <div class="inventory">
                        <div class="delivery">
                            <h2 class="MajorMonoDisplay">SPECIAL PARCEL SERVICE</h2>
                            <hr>
                            <table>
                                <thead>
                                    <tr class="delivery-tr">
                                        <th>NAME</th>
                                        <th>DESTINATION</th>
                                        <th>$</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="delivery-tbody">
                                    <tr class="delivery-tr">
                                        <td>{{ gameState.specialDelivery().name }}</td>
                                        <td>{{ gameState.specialDelivery().destination }}</td>
                                        <td>${{ gameState.specialDelivery().price }}</td>
                                        <td>
                                            @if ( gameState.specialDelivery().destination ==
                                            gameState.currentLocation().name) {
                                            <button class="general-button"
                                                (click)="deliverSpecialDelivery()">Deliver</button>}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <h2 class="MajorMonoDisplay">INVENTORY</h2>
                        <hr>
                        <table>
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>QTY</th>
                                    <th>$</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="inventory-tbody">
                                <tr *ngFor="let item of gameState.inventory()">
                                    @if (item.quantity > 0) {
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>${{ item.price }}</td>
                                    <td><button class="general-button" (click)="sell(item)">Sell</button></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="market">
                        <h2 class="MajorMonoDisplay">MARKET</h2>
                        <hr>
                        <table>
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>QTY</th>
                                    <th>$</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="market-tbody">
                                <tr *ngFor="let item of gameState.marketItems()"
                                    [ngClass]="{'firesale': item.name === gameState.specialFireSale(), 'scarcity': item.name === gameState.specialScarcity()}">
                                    @if (item.quantity > 0) {
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>${{ item.price }}</td>
                                    <td><button class="general-button" (click)="buy(item)">Buy</button></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>