<div class="viewport">
    <div class="main-container">
        <div class="head-container">
            <h1>Space trader</h1>
            <div class="header-line"></div>
        </div>
        <div class="game-container">
            <div class="left-container">
                <div class="location-container">
                    <p>Location: {{ gameState.currentLocation() }}</p>
                    <p>Days passed: {{ gameState.daysPassed() }}/{{ gameLength }}</p>
                    <p>Balance: {{ gameState.balance() }}</p>
                    <p>Shield: {{ gameState.shield() }}</p>
                    <p>Weapon: {{ gameState.weapon() }}</p>
                </div>
                <div class="travel-container">
                    <h2>Locations</h2>
                    <button class="location-button" *ngFor="let location of gameState.locations()"
                        (click)="Travel(location.name)"
                        [class.selected]="location.name === gameState.currentLocation()">
                        {{ location.name }}
                    </button>
                </div>
            </div>
            <div class="right-container">
                <div class="status-container">
                    <p [innerHtml]="tempText"></p>
                </div>
                <div class="market-container">
                    <div class="market-title">
                        <h2>Market</h2>
                    </div>
                    <div class="market-content">
                        <div class="inventory">
                            <h2>Inventory</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>$</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of gameState.inventory()">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>${{ item.price }}</td>
                                        <td><button (click)="Sell(item)">Sell</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="market">
                            <h2>Shop</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>$</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of gameState.marketItems()">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>${{ item.price }}</td>
                                        <td><button (click)="Buy(item)">Buy</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>