<div class="casino-container">
    <h2 class="MajorMonoDisplay">CASINO</h2>
    <hr>
    <button (click)="openHighLow()" class="general-button">High-low</button>
    <button (click)="openCoinFlip()" class="general-button">Coin flip</button>
    <button (click)="openGuessNumber()" class="general-button">Guess the number</button>
    <div class="game-selection">
      <label for="betAmount">Enter your bet amount: </label>
      <div>
        <div class="bet-amounts">
          <button *ngFor="let amount of betAmounts" (click)="setBetAmount(amount)" class="general-button" [ngClass]="{'selected': betAmount === amount}">
            {{ amount }}
          </button>
        </div>
      </div>
    </div>
    <div class="games">
      @if(highLowBool){
        <h3>High-low</h3>
        <p>blablabla blabla blabla uitleg</p>
        <button class="general-button" (click)="playGame(games[0])">Play {{ games[0].name }}</button>
        <div>
          <label>
            <input type="radio" name="highOrLow" (click)="setHighOrLowChoice('high')"> High
          </label>
          <label>
            <input type="radio" name="highOrLow" (click)="setHighOrLowChoice('low')"> Low
          </label>
        </div>
      }
      @if(coinFlipBool){
        <h3>Coin flip</h3>
        <p>blablabla blabla blabla uitleg</p>
        <button class="general-button" (click)="playGame(games[1])">Play {{ games[1].name }}</button>
      }
      @if(guessNumberBool){
        <h3>Guess the number</h3>
        <p>blablabla blabla blabla uitleg</p>
        <button class="general-button" (click)="playGame(games[2])">Play {{ games[2].name }}</button>
        <div>
          <label for="chosenNumber">Choose a number between 0 and 9: </label>
          <div>
            <button *ngFor="let number of numbers" (click)="setChosenNumber(number)" class="general-button" [ngClass]="{'selected': chosenNumber === number}">
              {{ number }}
            </button>
          </div>
        </div>
      }
    </div>
    <div class="results">
      <h3>Game Results</h3>
      <p>{{ result }}</p>
    </div>
  </div>
  