.casino-container {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
  
.overview {
  display: flex;
  flex-direction: row;
}

.game-selection {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

  .games, .results {
    margin-bottom: 20px;
  }
  
  .game {
    margin-bottom: 15px;
  }

  .games-container {
    display: flex;
    flex-direction: column;
  }

  .general-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'KodeMono', monospace;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    padding: 10px;
  }
  
  .general-button:hover {
    background-color: var(--background-color-hover);
    color: var(--text-color-hover);
    border: 2px solid var(--border-color-hover);
  }
  
  .extra-space{
    margin-right: 20px;
  }

  .selected {
    background-color: var(--selected-button-color);
    color: var(--second-text-color);
    border: 2px solid var(--border-color-hover);
  }

  .MajorMonoDisplay {
    font-family: 'MajorMonoDisplay', monospace;
  }
