<div class="casino-container">
    <h2 class="MajorMonoDisplay">COSMIC CASINO</h2>
    <hr>
    <div class="overview">
      <div class="game-selection">
        <div>
        <label for="betAmount">Enter your bet amount: </label>
          <div class="bet-amounts">
            <button *ngFor="let amount of betAmounts" (click)="setBetAmount(amount)" class="general-button" [ngClass]="{'selected': betAmount === amount}">
              ${{ amount }}
            </button>
          </div>
        </div>
        <button (click)="openHighLow()" class="general-button" [ngClass]="{'selected': highLowBool}">High-low</button>
        <button (click)="openCoinFlip()" class="general-button" [ngClass]="{'selected': coinFlipBool}">Coin flip</button>
        <button (click)="openGuessNumber()" class="general-button" [ngClass]="{'selected': guessNumberBool}">Guess the number</button>
      </div>
    <div class="games-container">
      @if(highLowBool){
        <h3>High-low</h3>
        <div>
          <button class="general-button extra-space" (click)="setHighOrLowChoice('low')" [ngClass]="{'selected': lowBool}">Lower</button>
          <button class="general-button" (click)="setHighOrLowChoice('high')" [ngClass]="{'selected': highBool}">Higher</button>
        </div>
        <button class="general-button" (click)="playGame(games[0])">Play {{ games[0].name }}</button>
      }
      @if(coinFlipBool){
        <h3>Coin flip</h3>
        <button class="general-button" (click)="playGame(games[1])">Play {{ games[1].name }}</button>
      }
      @if(guessNumberBool){
        <h3>Guess the number</h3>
        <div>
          <label for="chosenNumber">Choose a number between 0 and 9: </label>
          <div>
            <button *ngFor="let number of numbers" (click)="setChosenNumber(number)" class="general-button" [ngClass]="{'selected': chosenNumber === number}">
              {{ number }}
            </button>
          </div>
        </div>
        <button class="general-button" (click)="playGame(games[2])">Play {{ games[2].name }}</button>
      }
    </div>
  </div>
</div>
  