<div class="market-container">
    <div class="inventory">
        <div class="delivery">
            <h2 class="MajorMonoDisplay">SPECIAL PARCEL SERVICE</h2>
            <hr>
            <table>
                <thead>
                    <tr class="delivery-tr">
                        <th>NAME</th>
                        <th>DESTINATION</th>
                        <th>$</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="delivery-tbody">
                    <tr class="delivery-tr">
                        <td>{{ gameState.specialDelivery().name }}</td>
                        <td>{{ gameState.specialDelivery().destination }}</td>
                        <td>${{ gameState.specialDelivery().price }}</td>
                        <td>
                            @if ( gameState.specialDelivery().destination ==
                            gameState.currentLocation().name) {
                            <button class="general-button"
                                (click)="deliverSpecialDelivery()">Deliver</button>}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="header-quantity-container">
            <div class="header-space">
                <h2 class="MajorMonoDisplay">INVENTORY</h2>
            </div>
            <div class="quantity-options">
                <button (click)="setSellQuantity(false)" class="general-button extra-space">-</button>
                <input type="number" (change)="maxSellSelected = false" [(ngModel)]="sellQuantity" min="1" class="general-input extra-space">
                <button (click)="setSellQuantity(true)" class="general-button extra-space">+</button>
                <button (click)="setMaxSell()" class="general-button" [ngClass]="{'selected': maxSellSelected}">Max</button>
            </div>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>QTY</th>
                    <th>$</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="inventory-tbody">
                <tr *ngFor="let item of gameState.inventory()">
                    @if (item.quantity > 0) {
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                    <td><button class="general-button" (click)="sell(item)">Sell</button></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="market">
        <div class="header-quantity-container">
            <div class="header-space">
                <h2 class="MajorMonoDisplay">ORBITAL TRADING POST</h2>
            </div>
            <div class="quantity-options">
                <button (click)="setBuyQuantity(false)" class="general-button extra-space">-</button>
                <input type="number" (change)="maxBuySelected = false" [(ngModel)]="buyQuantity" min="1" class="general-input extra-space">
                <button (click)="setBuyQuantity(true)" class="general-button extra-space">+</button>
                <button (click)="setMaxBuy()" class="general-button" [ngClass]="{'selected': maxBuySelected}">Max</button>
            </div>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>QTY</th>
                    <th>$</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="market-tbody">
                <tr *ngFor="let item of gameState.marketItems()"
                    [ngClass]="{'firesale': item.name === gameState.specialFireSale(), 'scarcity': item.name === gameState.specialScarcity()}">
                    @if (item.quantity > 0) {
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                    <td><button class="general-button" (click)="buy(item)">Buy</button></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>