.loan-shark-container {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
  
  .loan-sharks {
    display: flex;
    flex-direction: row;
  }
  
  .loan-shark {
    margin-bottom: 15px;
    margin-right: 30px;
  }

  .general-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'KodeMono', monospace;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    padding: 10px;
  }
  
  .general-button:hover {
    background-color: var(--background-color-hover);
    color: var(--text-color-hover);
    border: 2px solid var(--border-color-hover);
  }

  .MajorMonoDisplay {
    font-family: 'MajorMonoDisplay', monospace;
  }
  
    /* For mobile devices */
    @media (max-width: 900px), (max-height: 600px) {
      .loan-sharks {
        flex-direction: column;
      }
    }