@import '../../../assets/styles/themes.scss';

.viewport{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    width:  100vw; 
    font-family: 'MajorMonoDisplay', monospace;
}

.main-container{
    width:  98%;
    height:  98%;
    margin-bottom: 20px;
    margin-top:  20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}

.head-container{
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;

    .header-line{
        position: relative;
        width: 80%;
        height: 3px;
        left: 10px;
        top: 50%;
        background-color: var(--headerline-color);
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
  
.menu-item {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.menu-item:hover {
    color: #ff0000;
    text-decoration: underline;
}
  
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
  
.game-length-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .game-length-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'KodeMono', monospace;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px 10px 20px;
}
  
  .game-length-button:hover {
    background-color: var(--background-color-hover);
    border: 2px solid var(--border-color-hover);;
    color: var(--text-color-hover);
}
  
  .game-length-button.selected {
    background-color: var(--selected-button-color);
    color: var(--second-text-color);
    border: 2px solid var(--border-color-hover);;
}

  .credits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.htp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; 
    margin-left: 30%;
    margin-right: 30%;
}

.highscores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.icon-button {
    border: 0px;
    background-color: transparent;
    padding: 5px;
    margin: 10px 0px 10px 10px;
    color: var(--icon-color);
    opacity: 0.3;
  }
  
  .icon-button:hover {
    opacity: 1;
  }
  
  .icon {
    font-size: 24px;
  }