<div class="viewport">
    <div class="main-container">
        <div class="head-container">
            <h1>SPACE TRADER</h1>
            <div class="header-line"></div>
            <button (click)="setTheme()" class="icon-button">
                <fa-icon [icon]="faCircleHalfStroke" class="icon"></fa-icon>
            </button>
        </div>
        <div class="menu-container">
            <div class="menu-item" (click)="newGame()">StArt neW gAMe</div>
            <div class="menu-item" (click)="showHighScores()">hiGhscoRes</div>
            <div class="menu-item" (click)="showOptions()">GAMe opTions</div>
            <div class="menu-item" (click)="showHowToPlay()">hoW To plAY</div>
            <div class="menu-item" (click)="showCredits()">CRediTs</div>
        </div>
        <div class="highscores-container" *ngIf="showHighScoresPanel">
            <app-highscore></app-highscore>
        </div>
        <div class="options-container" *ngIf="showOptionsPanel">
            <h3>GAMe lenGth</h3>
            <div class="game-length-buttons">
                <button class="game-length-button" *ngFor="let option of gameLengthOptions"
                    (click)="selectGameLength(option)" [class.selected]="gameLength === option">
                    {{ option }}
                </button>
            </div>
            <h3>{{ gameLength }} DAYS</h3>
        </div>
        <div class="htp-container" *ngIf="showHowToPlayPanel">
            <h3>hoW To plAY</h3>
            <p>YOU are a SPECIAL PARCEL SERVICE worker. YOU have to deliver packages to different locations in the SOLAR SYSTEM. If YOU FAIL to deliver the PACKAGE in time you will be fined. The goal of YOUR journey is to make
                as much MONEY as posible in the amount of days selected. BLADIEBLAADIEBLAAA.</p>
        </div>
        <div class="credits-container" *ngIf="showCreditsPanel">
            <h3>CReATed bY</h3>
            <h3>JORAN SchoLS, 2024</h3>
        </div>
    </div>
</div>