.viewport{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    width:  100vw; 
    font-family: 'MajorMonoDisplay', monospace;
}

.main-container{
    width:  80%;
    height:  90%;
    margin-bottom: 20px;
    margin-top:  20px;
    background-color: rgb(255, 253, 249);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.head-container{
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;

    .header-line{
        position: relative;
        width: 80%;
        height: 3px;
        left: 10px;
        top: 50%;
        background-color: #000;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
  
.menu-item {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.menu-item:hover {
    color: #ff0000;
    text-decoration: underline;
}
  
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
  
.game-length-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

  .game-length-button {
    background-color: rgb(255, 253, 249);
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'KodeMono', monospace;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px 10px 20px;
}
  
  .game-length-button:hover {
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}
  
  .game-length-button.selected {
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
}

  .credits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.htp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; 
    margin-left: 30%;
    margin-right: 30%;
}