.viewport{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100%;
    width:  100vw; 
}

.main-container{
    width:  98%;
    height:  98%;
    margin-bottom: 20px;
    margin-top:  20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.head-container{
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
    justify-content: space-between;

    .header-line{
        height: 3px;
        left: 10px;
        margin-top: 50px;
        margin-right: 30px;
        background-color: var(--headerline-color);
        width: 60%;
    }

    .menu-button {
        margin-top: 30px;
        background-color: var(--background-color);
        color: var(--text-color);
        border: 2px solid var(--border-color);
        border-radius: 5px;
        text-transform: uppercase;
        font-family: 'KodeMono', monospace;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 8%;
        height: 50%;
      }
      
    .menu-button:hover {
        background-color: var(--background-color-hover);
        border: 2px solid var(--border-color-hover);
        color: var(--text-color-hover);
      }
}

input.ng-invalid.ng-touched {
    border-color: red;
  }
  
  input.ng-valid.ng-touched {
    border-color: green;
  }
  
  .icon-button {
    border: 0px;
    background-color: transparent;
    padding: 5px;
    margin: 10px 0px 10px 10px;
    color: var(--icon-color);
    opacity: 0.3;
  }
  
  .icon-button:hover {
    opacity: 1;
  }
  
  .icon {
    font-size: 24px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.general-input {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 4px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-family: 'KodeMono', monospace;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.general-input:focus {
    border-color: var(--border-color-hover);
    box-shadow: 0 0 5px var(--border-color-hover);
}

.general-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'KodeMono', monospace;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.general-button:hover {
    background-color: var(--background-color-hover);
    color: var(--text-color-hover);
    border: 2px solid var(--border-color-hover);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.MajorMonoDisplay {
    font-family: 'MajorMonoDisplay', monospace;
}

.credits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-family: 'MajorMonoDisplay', monospace;
}

.url{
  color: var(--text-color);
}