@import './assets/styles/themes.scss';

@font-face {
    font-family: 'MajorMonoDisplay';
    src: url('../src/assets/fonts/MajorMonoDisplay-Regular.ttf');
  }

  @font-face {
    font-family: 'KodeMono';
    src: url('../src/assets/fonts/KodeMono-VariableFont_wght.ttf');
  }
 
html{
    background-color: var(--body-color);
}

body {
    font-family: 'KodeMono', monospace;
    color: var(--text-color);
    margin:  0px;
    height:  100vh;
    width:  100%;
    padding: 0;
}