.light-theme {
  --body-color: #f8f9fa;
  --background-color: #495057;
  --text-color: #e0e3e7;
  --second-text-color: #f8f9fa;
  --border-color: #3a3b3c;
  --headerline-color: #495057;
  --background-color-hover: #343a40;
  --text-color-hover: #ffffff;
  --border-color-hover: #6c757d;
  --icon-color: #495057;
  --table-header-color: #495057; 
  --table-sub-border-color: #dee2e6;
  --status-container-color: #000000;
  --status-text-color: #f8f9fa;
  --selected-button-color: #495057;
  --firesale: #2e7d32;
  --scarcity: #c62828;
  --highlight: #ffffff;
}

.dark-theme {
  --body-color: #121212;
  --background-color: #000000;
  --text-color: #a87e7e;
  --second-text-color: #faadad;
  --border-color: #adb5bd;
  --headerline-color: #adb5bd;
  --background-color-hover: #495057;
  --text-color-hover: #ffffff;
  --border-color-hover: #dee2e6;
  --icon-color: #adb5bd;
  --table-header-color: #343a40; 
  --table-sub-border-color: #495057;
  --status-container-color: #000000;
  --status-text-color: #e9ecef;
  --selected-button-color: #000000;
  --firesale: #81c784;
  --scarcity: #e57373;
  --highlight: #b70b0b;
}

.matrix-theme {
  --body-color: #000f00;
  --background-color: #000f00;
  --text-color: #00ff66;
  --second-text-color: #ffffff;
  --border-color: #00aa33;
  --headerline-color: #00aa33;
  --background-color-hover: #003300;
  --text-color-hover: #00ff88;
  --border-color-hover: #00ff88;
  --icon-color: #00aa33;
  --table-header-color: #002200; 
  --table-sub-border-color: #004400;
  --status-container-color: #000f00;
  --status-text-color: #00ff66;
  --selected-button-color: #004400;
  --firesale: #00ff66;
  --scarcity: #ff5555;
  --highlight: #15ff00;
}

.desert-theme {
  --body-color: #5d4037;
  --background-color: #4e342e;
  --text-color: #d5cccc;
  --second-text-color: #d7ccc8;
  --border-color: #8d6e63;
  --headerline-color: #6d4c41;
  --background-color-hover: #a1887f;
  --text-color-hover: #ffffff;
  --border-color-hover: #bcaaa4;
  --icon-color: #6d4c41;
  --table-header-color: #5d4037; 
  --table-sub-border-color: #a1887f;
  --status-container-color: #4e342e;
  --status-text-color: #f5ebe0;
  --selected-button-color: #8d6e63;
  --firesale: #e64a19;
  --scarcity: #c62828;
  --highlight: #bb6748;

}

.cyberpunk-theme {
  --body-color: #0a0612;
  --background-color: #0a0612;
  --text-color: #ff66cc;
  --second-text-color: #00e5d1;
  --border-color: #ff66cc;
  --headerline-color: #ff66cc;
  --background-color-hover: #2a0058;
  --text-color-hover: #66ffff;
  --border-color-hover: #66ffff;
  --icon-color: #ff66cc;
  --table-header-color: #330066; 
  --table-sub-border-color: #00b3a1;
  --status-container-color: #0a0612;
  --status-text-color: #00e5d1;
  --selected-button-color: #ff66cc;
  --firesale: #ff66cc;
  --scarcity: #66ffff;
  --highlight: #00e5d1;

}

.space-theme {
  --body-color: #000000;
  --background-color: #121212;
  --text-color: #e0f7ff;
  --second-text-color: #1e1e1e;
  --border-color: #0095d9;
  --headerline-color: #0095d9;
  --background-color-hover: #2a2a2a;
  --text-color-hover: #00d4ff;
  --border-color-hover: #00d4ff;
  --icon-color: #0095d9;
  --table-header-color: #006494; 
  --table-sub-border-color: #333333;
  --status-container-color: #000000;
  --status-text-color: #00d4ff;
  --selected-button-color: #0095d9;
  --firesale: #ff7733;
  --scarcity: #ff66b3;
  --highlight: #00eaff;

}