<div class="viewport">
    <div class="main-container">
        <div class="head-container">
            <h1>Space trader</h1>
            <div class="header-line"></div>
        </div>
        <div class="game-container">
            <div class="left-container">
                <div class="location-container">aaa
                </div>
                <div class="travel-container">
                    <h2>Locations</h2>
                    <button *ngFor="let location of locations" (click)="Travel(location)">
                        {{ location }}
                    </button>
                </div>
            </div>
            <div class="right-container">
                <div class="status-container">
                    <p>Balance: ${{ balance }}</p>
                    <p>DaysPassed: {{ daysPassed }}</p>
                </div>
                <div class="market-container">
                    <div class="market-title">
                        <h2>Market</h2>
                    </div>
                    <div class="market-content">
                        <div class="inventory">
                            <h2>Inventory</h2>
                            <div class="item" *ngFor="let item of inventory">
                                <p>{{ item.name }}: {{ item.quantity }} sellingPrice: ${{ item.price }}</p>
                                <button (click)="Sell(item)">Sell</button>
                            </div>
                        </div>
                        <div class="market">
                            <h2>Buy</h2>
                            <div class="item" *ngFor="let item of marketItems">
                                <p>{{ item.name }}: ${{ item.price }} quantity: {{ item.quantity }}</p>
                                <button (click)="Buy(item)">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>